#Token
client_id: "rhsm-api"
api_refresh_token: "eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NDA1NzU5MDQsImp0aSI6IjVhOGMzYWU5LTdhOGYtNDk3ZS05ZGVjLTE2MGIxMzJjZjdiYyIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpqZWFsb3BleiIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJyaHNtLWFwaSIsInNpZCI6ImQxMjViZjlmLTg2ZjQtNGRlOS05NmFmLTJlY2QxZWUzN2I2ZCIsInNjb3BlIjoiYmFzaWMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgb2ZmbGluZV9hY2Nlc3MifQ.WgiF4lALRiRItx6ToRgKfc-FXAy_AY_CjZV63PPXDGURStmE6Es_FiwnuId4kyDyaIFcBi1UMZiX67uRjY7UHQ"

#OCP
cluster_auth:
  "PCRF Producción Corporativo":
    username: "admin"
    password: "supersecret"
  "PCRF Producción Liray":
    username: "admin"
    password: "supersecret"
  "PCRF Maqueta Corporativo":
    username: "admin"
    password: "supersecret"
  "PCRF Maqueta Liray 1":
    username: "admin"
    password: "supersecret"
  "PCRF Maqueta Liray 2":
    username: "admin"
    password: "supersecret"
  "PCRF Maqueta Liray 3":
    username: "admin"
    password: "supersecret"
  "RADIUS Producción Corporativo":
    username: "admin"
    password: "supersecret"
  "RADIUS Producción Liray":
    username: "admin"
    password: "supersecret"
  "MCPTT Producción Corporativo":
    username: "admin"
    password: "supersecret"
  "MCPTT Producción Liray":
    username: "admin"
    password: "supersecret"
  "LABJP":
    username: "admin"
    password: "supersecret"
