---
#Vars
case_number: "<CASE_NUMBER>"
debug_enabled: true

#Constants
file_path: "/tmp/must-gather.tar.gz"
script_path: "../scripts/upload_to_s3.py"
client_id: "rhsm-api"
token_url: "https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token"
case_details_url: "https://api.access.redhat.com/support/v1/cases/{{ case_number }}"
bucket_url: "https://access.redhat.com/hydra/rest/cases/{{ case_number }}/attachments/upload/credentials"