---
- name: Autenticarse en OpenShift y obtener un token
  redhat.openshift.openshift_auth:
    host: "{{ openshift_api_url }}"
    username: "{{ openshift_username }}"
    password: "{{ openshift_password }}"
    validate_certs: false
  register: openshift_auth_results
  # no_log: true

- name: Guardar el token para su uso posterior
  ansible.builtin.set_fact:
    openshift_api_token: "{{ openshift_auth_results.openshift_auth.api_key }}"
  when: openshift_auth_results.openshift_auth.api_key is defined
